[submodule "monodock/rust-tracing-otlp"]
	path = monodock/rust-tracing-otlp
	url = https://github.com/tekul/rust-tracing-otlp.git
[submodule "monodock/tx-sitter-monolith"]
	path = monodock/tx-sitter-monolith
	url = https://github.com/tkstanczak/tx-sitter-monolith.git
[submodule "monodock/world-tree"]
	path = monodock/world-tree
	url = https://github.com/worldcoin/world-tree.git
[submodule "monodock/world-id-state-bridge"]
	path = monodock/world-id-state-bridge
	url = https://github.com/worldcoin/world-id-state-bridge.git
[submodule "monodock/state_bridge_l1/lib/forge-std"]
	path = monodock/state_bridge_l1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "monodock/state_bridge_service/evm-indexer"]
	path = monodock/state_bridge_service/evm-indexer
	url = https://github.com/llamafolio/evm-indexer.git
