SEPOLIA_ETHEREUM_WS_PROVIDER=
SEPOLIA_ETHEREUM_WS_PROVIDER_FALLBACK=
SEPOLIA_STARKNET_HTTP_PROVIDER=
SEPOLIA_ETHEREUM_PRIVATE_KEY=

MAINNET_ETHEREUM_WS_PROVIDER=
MAINNET_ETHEREUM_WS_PROVIDER_FALLBACK=
MAINNET_STARKNET_HTTP_PROVIDER=
MAINNET_ETHEREUM_PRIVATE_KEY=
