L2_ACCOUNT_ADDRESS=
L2_PRIVATE_KEY=
L2_ACCOUNT_TYPE= "e.g. oz"
STARKNET_NETWORK=mainnet
L2_RPC_URL=

L1_RPC_URL=
L1_PRIVATE_KEY=
L1_ACCOUNT_ADDRESS=

WORLDID_IDENTITY_MAANGER_ADDRESS=0xf7134CE138832c1456F2a91D64621eE90c2bddEa
L2_SEQUENCER_ADDRESS=0xc662c410C0ECf747543f5bA90660f6ABeBD9C8c4